/******************************************************************************
Fuentes *******************************************************************
*******************************************************************************/

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff2') format('woff2'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_lightlight';
    src: url('fonts/oswald-light-webfont.eot');
    src: url('fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-light-webfont.woff2') format('woff2'),
         url('fonts/oswald-light-webfont.woff') format('woff'),
         url('fonts/oswald-light-webfont.ttf') format('truetype'),
         url('fonts/oswald-light-webfont.svg#oswald_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proextralight';
    src: url('fonts/sourcesanspro-extralight-webfont.eot');
    src: url('fonts/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-extralight-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-extralight-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-extralight-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_probold';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*******************************************************************************
Normalizador *******************************************************************
*******************************************************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="submit"]::-webkit-input-placeholder{
color: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
main {
  display: block;
}
audio,
canvas,
video {
  display: inline;
  zoom: 1;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 14px;/*en referencia al campo de texto de menor tamaño*/
  line-height: 1.231;
  margin: 0;
}
body,
button,
select,
textarea {
  font-family: sans-serif;
  color: #fff;
}
a {
  color: #00e;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 700;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
button,
select,
textarea {
  width: 100%;
  padding: 5px;
  font-family: 'open_sanslight';
  font-size: 15px;
  background: #ffffff;
  -webkit-appearance: button;
  border: 1px solid #000000;
  border-radius: inherit;
  color: #cccccc;
}
select:hover{
  -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.81);
  -moz-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.81);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.81);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;}
button,
input {
  line-height: normal;
  overflow: visible;

}
button,
input {width: 100%; padding: 5px; font-family: 'open_sanslight'; font-size: 15px; color: #cccccc; border: 1px solid #000000; margin-bottom:10px;
-webkit-transition: 0.5s ease;
-moz-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;}
button,
input:hover,
button,
input:hover{-webkit-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.81);
-moz-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.81);
box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.81);
-webkit-transition: 0.5s ease;
-moz-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;}
table button,
table input {
  overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
[role="button"] {
  cursor: pointer;
-webkit-appearance: button;
color: #ffffff;
width: 95px;
padding: 10px;
font-family: 'open_sansregular';
font-size: 17px;
background: #2c6694;
border: none;
border-radius: 5px;
-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
-ms-transition: 0.5s ease;
transition: 0.5s ease;
}
button,
input[type="submit"]:hover
{background: #0B4574;
-webkit-transition: 0.5s ease;
-moz-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  min-height:200px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
audio:not([controls]),
[hidden],
.ir br {
  display: none;
}
figure,
form {
  margin: 0;
}
input[type="search"] ::-webkit-search-decoration,
textarea[contenteditable] {
  -webkit-appearance: none;
}
.clearfix:after, .wrapping-articles:after {
clear: both;
}
.clearfix:before, .wrapping-articles:before, .clearfix:after, .wrapping-articles:after {
content: "";
display: table;
}
/*******************************************************************************
Grilla *************************************************************************
*******************************************************************************/
.row {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  *zoom: 1;
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row [class*="column"] {
  display: block;
  float: left;
  margin-right: 3.5%;
}
.row [class*="column"].last {
  margin-right: 0;
}
.row [class*="column"].centerd-column {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.column1 {
  width: 5.125%;
}
.column2 {
  width: 13.75%;
}
.column2-5{
  width:17%;
}
.column3 {
  width: 22.375%;
}
.column4 {
  width: 31%;
}
.column5 {
  width: 39.625%;
}
.column5-45 {
  width: 45.3%;
}
.column6 {
  width: 48.25%;
}
.column7 {
  width: 56.875%;
}
.column8 {
  width: 65.5%;
}
.column9 {
  width: 74.125%;
}
.column10 {
  width: 82.75%;
}
.column11 {
  width: 91.375%;
}
.column12 {
  width: 100%;
  float: none;
  margin-right: 0px;
}
/*******************************************************************************
Generales **********************************************************************
*******************************************************************************/
/* HEADER */
.blue-head{background:#2c6694;}
.blue-head img{max-width: 50%; height: auto; width: 20%;}
.blue-head h1 .logoip{float:left; margin:15px 0;}

/* ESTILOS REFERENTES A INSCRIPCION */
/* Pre formulario */
/*.student img{width: 110%;}*/
.data-area{background-image: url('bg-student-mobile.png'); background-size: 100%; background-repeat: no-repeat;}
.logo-admision{background: url('bg-admision.png'); margin-top: 20px;}
.logo-admision img{padding:2%;}

.form-postulate {background-image: url('bg-form.png'); margin-top: 10px}
.form-postulate img{width: 95%; margin: 10px;}
h4.title-form {font-family: 'open_sansregular'; font-size: 30px; padding: 10px 0 0; margin: 10px 10px 0;}
.form-container{padding: 10px 0px 0 10px; height: 350px;}
.form-container label{font-size:19px; line-height:140%; font-family: 'open_sanslight'; cursor:none;}
.form-container input[type="sumbit"],
{width: 230px; padding: 5px; font-family: 'open_sanslight'; font-size: 15px;}
.send input[type="submit"]{font-family: 'open_sansregular';}

/*Auxiliares*/
.mg-10-0{margin:10px 0;}
.padded-15-0{padding:0 15%;}
.padded-5-0{padding:0 5%;}
.mg-0-40{margin-bottom: 40px;}

/* CONTACTO */
/*.camp{width: 100%; margin: 20px 20%;}
.conf-contact label{display: block; float: left; font-family: 'clear_sansregular'; font-size: 18px; color: #14619c; width:10%; margin-top: 20px;}
.conf-contact input{float: left; padding: 10px 0 10px 1%; margin-top: 17px; color:#333; width:68.5%; height:40px;}
.conf-contact textarea{float: left; padding: 10px 51.8% 10px 1%; margin-top: 17px; color:#333; width:68.5%;}
input.clearless.orange-call { display: block; padding: 8px 4%; text-align: center; color: #FFF; border: medium none; margin: 20px 30% 40px; width: auto; height: 5%;}
.clearless {clear:both;}
.conf-contact input[type="text"]:hover,
.conf-contact input[type="name"]:hover,
.conf-contact input[type="email"]:hover{border:1px solid #14619C; padding: 10px 0 10px 1%;}
.conf-contact input[type="text"]:focus,
.conf-contact input[type="email"]:focus,
.conf-contact input[type="name"]:focus{border:1px solid #333; padding: 10px 0 10px 1%;}
.conf-contact input[type="text"].error,
.conf-contact input[type="name"].error,
.conf-contact input[type="email"].error{border:1px solid #FF1E00; padding: 10px 0 10px 1%;}

.conf-contact textarea:hover{border:1px solid #14619C; padding: 10px 0% 10px 1%;}
.conf-contact textarea:focus{border:1px solid #333; padding: 10px 0% 10px 1%;}
.conf-contact textarea.error{border:1px solid #FF1E00; padding: 10px 0% 10px 1%;}

.error-message{font-size:12px; font-family: sans-serif, arial, helvetica; color:#FF1E00;}*/

/* PREMIO */
.price-area {background-image: url('bg-form.png'); height: 280px; margin-top: 10px;}
.price-area img{width: 510px;}



/* AREA 5 CARACTERISTICAS */
.white-border{border-top:10px solid #387cb2; margin: 0 auto 50px;}
.circle img{width: 90%; margin-top: 75px; margin: 55px 5% 0;} 
.circle p{text-align: center; color: #387cb2; font-size: 23px; font-family: 'source_sans_proregular'; padding: 0 10px; margin-top:10px;}


/* AREA POSTERIOR */
.blue-content{background: #2c6694; height: auto; font-size: 22px; font-family: 'source_sans_proextralight'; line-height: 150%; text-align: center; width: 80%; margin: 30px auto 0; display: block; padding: 2%;}
.horn{ background-image: url('horn.png'); width: 50px; height: 60px; position: relative; left: 80%; padding-bottom: 3px; bottom: 19%;}
.introplace{background-image: url('bg-gente.jpg'); height: auto; margin-top: 10px; background-repeat: no-repeat; background-size: 100%; background-position: 50% 70%;} 
.seal-cna img{width: 20%; max-width: 100%; height: auto; margin: 18px auto; display: block; padding: 0;}


/* AREA SEGUNDA INTRO*/
h3.blue-title  {font-size:30px; font-family: 'source_sans_probold'; text-align:center; line-height:140%; color:#2c6694; margin-bottom: 10px; font-weight:lighter;}
h2.blue-quiz {font-size:60px; font-family: 'source_sans_probold'; text-align:center; line-height:140%; color:#374855; margin: 10px; font-weight:lighter;}

/* AREA ESCUELAS */
.deep-blue{background:#2c6694; border-top:10px solid #387cb2;}
ul.careers { margin-left: 2%; display:block; float:left;} 
ul.careers li {width: 300px; padding:10px; margin:10px auto;}
h4.choose {font-size:40px; font-family: 'source_sans_probold'; text-align:center; line-height:140%; color:#374855; margin: 10px; font-weight:lighter;}
a.button {width:200px; font-family: 'oswald_lightlight'; font-size:18px; padding:10px; color:#ffffff; }
.button img{width: 20px; max-width: 100%; margin-left: 20px; float:right;}

/* Colores para botones escuelas*/
.blue{background: #4662a2;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
.brown{background: #704f3a;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
.pink{background: #9d2ab3;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
.orange{background:#d38222;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
.cashmir{background:#882624;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
.green{background:#88be2a;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
.gray{background:#ced0d8;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
.cerulean{background:#87c3d4;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}

/* Colores hover */
  .blue:hover{background: #203053;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
  .brown:hover{background: #53270B;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
  .pink:hover{background: #4B0F57;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
  .orange:hover{background:#A7661A;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
  .cashmir:hover{background: #491312;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
  .green:hover{background:#587E16; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
  .gray:hover{background: #989BA5; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
  .cerulean:hover{background: #1894B8;-webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}

/* AREA HORARIOS */
.clocked img{width: 100%; max-width: 100%; padding: 5%; margin: 30px auto; height: auto; display: block;}
.timing h4{font-size:30px ; font-family:'source_sans_probold' ;line-height:140%; color:#ffffff; margin: 40px 0 20px;}
.timing p{font-size: 18px; font-family: 'source_sans_proextralight' ;line-height:140%; color:#ffffff; }
.timing p strong{font-weight:bolder; font-family: 'source_sans_proregular'; }

/* AREA HORARIOS OFICINAS */
.blue-timing h4{font-size:30px ; font-family:'source_sans_probold' ;line-height:140%; color:#2c6694; margin: 40px 0 30px; text-align:center;}
.blue-timing p{font-size: 18px; font-family: 'source_sans_proextralight' ;line-height:140%; color:#2c6694; }
.blue-timing p strong{font-weight:bolder; font-family: 'source_sans_proregular';}
.blue-timing ul li{display: block; float: left; background-color: #3b87c3; margin-left: 2%; padding:12px 7px; border-radius: 5px;}
.blue-timing a{color: #ffffff; font-family: 'source_sans_proregular'; font-size: 18px; margin: 0 5px; text-align: center; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}
.blue-timing li:hover{background: #0B4574; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; transition: 0.5s ease;}


/* Estilos Responsive */
@media only screen and (min-width: 1024px){
  
}
@media only screen and (min-width: 935px) and (max-width: 1023px){
  
}

@media only screen and (min-width: 641px) and (max-width: 934px){

}

@media only screen and (max-width: 640px){
  .row [class*="column"] {display: block; float: none; margin: 0 auto; width:100%;}
  
  .blue-head img{width: 100%; margin: 0 auto; display: block;}
  input.send{width:100%;}

  .student img{display: none;}
  .data-area{background-size: 310vh;}
  h4.title-form{margin: 0 auto; display: block; padding: 5% 5% 0;}

  .logo-admision{margin:2%;}
  .logo-admision img{width:100%;}

  .form-postulate{margin:2%; }
  .form-container{height:100%; padding:5%;}

  .price-area{height: auto; margin-bottom: 10px; margin:2%;}
  .price-area img{width: 95%; max-width: 100%; padding: 5%;}

  h3.blue-title{font-size: 25px; margin: 40px auto 20px; padding: 0 4%;}
  h2.blue-quiz{font-size: 40px; line-height: 140%;}

  .padding-only-phones{padding:0;}
  .padding-05-only-phones{padding: 0 5%;}

  .blue-content{font-size: 18px; line-height: 140%;}

  .circle img{width: 50%; margin: 40px auto 20px; display: block;}

  .introplace{background-size: 320vh;}

  .seal-cna img{width: 55%; margin: 0 auto 20px;}
  .horn{left:65%;}

  .blue-timing ul li{width:100%; margin: 10px auto; text-align:center;}
  .clocked img{margin:15px auto;}
  .timing h4{text-align: center; margin: 10px auto;}

  ul.careers li{width:90%;}


}

